<header class="header">
  <a class="header__logo" routerLink="/">Some app</a>
  <nav class="header__nav">
    <ul class="header__items">
      <li class="header__item">
        <a
          class="header__link"
          routerLink="/products"
          routerLinkActive="header__link_active"
          >Products list</a
        >
      </li>
      <li class="header__item">
        <a
          class="header__link"
          routerLink="/create-product"
          routerLinkActive="header__link_active"
          >Create a product</a
        >
      </li>
      <li class="header__item">
        <a
          class="header__link"
          routerLink="/filter-products"
          routerLinkActive="header__link_active"
          >Filter products</a
        >
      </li>
    </ul>
  </nav>
</header>
