<app-title title="What does this application do?" />
<p>
  The given application has been developed to learn the Angular framework and
  RxJS library, to figure out in detail how this framework works, and to analyze
  the features of one like two-way binding, observable objects, pipes, setting
  of routing, and more. It has been done in order to be able to develop real web
  applications by using all the common Angular features. Products were chosen as
  a common example, allowing developers to understand the main concepts of using
  a certain technology. This application uses the Fake Store API service to
  emulate the interaction between a frontend and a backend, fetch data from a
  backend and output it to the page, as well as submit data to the server.
</p>
